In [1]:
import pandas as pd
import numpy as np

In [6]:
train_df = pd.read_csv("train.csv")
test_df = pd.read_csv("test.csv")

In [7]:
train_df.head()

                                              review label
0  mature intelligent and highly charged melodram...   pos
1  http://video.google.com/videoplay?docid=211772...   pos
2  Title: Opera (1987) Director: Dario Argento Ca...   pos
3  I think a lot of people just wrote this off as...   pos
4  This is a story of two dogs and a cat looking ...   pos

In [8]:
test_df.head()

                                              review
0  Remember those old kung fu movies we used to w...
1  This movie is another one on my List of Movies...
2  How in the world does a thing like this get in...
3  "Queen of the Damned" is one of the best vampi...
4  The Caprica episode (S01E01) is well done as a...

In [92]:
# As all data is in the form of Pandas DataFrame, and to perform computation we will convert data into numpy array

# After that we splitted the train_df into :
#          train_x = reviews
#          train_y = label

train_x = train_df.review.values
train_y = train_df.label.values
test_x = test_df.review.values

In [93]:
print(train_x.shape)
print(train_y.shape)
print(test_x.shape)

(40000,)
(40000,)
(10000,)

In [94]:
# Labeling train_y in term of 0-1 to perform operations on it. As we cannot use string data

y = []
for label in train_y:
    if label == "pos":
        y.append(1)
    else:
        y.append(0)

In [95]:
# Cleaning the data

from nltk.tokenize import RegexpTokenizer
from nltk.stem.porter import PorterStemmer
from nltk.corpus import stopwords


tokenizer = RegexpTokenizer(r'\w+')
en_stopwords = set(stopwords.words('english'))
ps = PorterStemmer()

def getCleanReview(review):
    
    review1 = review.lower()
    review2 = review1.replace("<br /><br />"," ")
    
    #Tokenize
    tokens = tokenizer.tokenize(review2)
    new_tokens = [token for token in tokens if token not in en_stopwords]
    stemmed_tokens = [ps.stem(token) for token in new_tokens]
    
    cleaned_review = ' '.join(stemmed_tokens)
    
    return cleaned_review

In [96]:
x_train = [getCleanReview(i) for i in train_x] #List Comprehension
x_test = [getCleanReview(i) for i in test_x]

In [99]:
from sklearn.feature_extraction.text import CountVectorizer

In [178]:
cv = CountVectorizer(ngram_range=(2,2))
train_vec = cv.fit_transform(x_train)

In [179]:
print(type(train_vec))

<class 'scipy.sparse.csr.csr_matrix'>

In [180]:
xt_vec = cv.transform(x_test)

In [181]:
from sklearn.naive_bayes import MultinomialNB,BernoulliNB

In [182]:
mnb = MultinomialNB()

In [183]:
# Training 
mnb.fit(train_vec,y)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [184]:
some = mnb.predict(xt_vec)

In [185]:
some

array([0, 0, 0, ..., 1, 1, 0])

In [186]:
with open('y_test.csv','w',encoding='utf') as f:
    header = "Id,label"
    header += "\n"
    f.write(header)
    for i in range(len(some)):
        if some[i] == 1:
            outcome = str(i) + ",pos"
        else:
            outcome = str(i) + ",neg"
        outcome += "\n"
        f.write(outcome)
    f.close()

In [187]:
bnb = BernoulliNB(binarize=0.0)
bnb.fit(train_vec,y)
some1 = bnb.predict(xt_vec)

In [188]:
with open('y1_test.csv','w',encoding='utf') as f:
    header = "Id,label"
    header += "\n"
    f.write(header)
    for i in range(len(some1)):
        if some1[i] == 1:
            outcome = str(i) + ",pos"
        else:
            outcome = str(i) + ",neg"
        outcome += "\n"
        f.write(outcome)
    f.close()

In [ ]:
Here y_test.csv gives more accuray then y1_test.csv